current_workflows.json
[{"updatedAt":"2026-01-28T17:32:01.000Z","createdAt":"2026-01-28T17:20:07.207Z","id":"IYHixm2h47yjKn0Q","name":"AI Content Factory (Gemini & Sheets)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"test-webhook","responseMode":"lastNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[460,300],"webhookId":"test-webhook"},{"parameters":{"values":{"string":[{"name":"product_name","value":"={{ $json.body.product_name || 'NanoBanana' }}"},{"name":"platform","value":"={{ $json.body.platform || 'Instagram' }}"}]},"options":{}},"id":"input-parser","name":"Parse Input","type":"n8n-nodes-base.set","typeVersion":1,"position":[680,300]},{"parameters":{"values":{"string":[{"name":"generated_script","value":"=🔥 Meet {{ $json.product_name }}! The future is here. #{{ $json.platform }} #AI #Innovation"}]},"options":{}},"id":"mock-ai-script","name":"Gemini Text Gen (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[900,200],"notesInFlow":true,"notes":"Simulates Gemini Text Generation"},{"parameters":{"values":{"string":[{"name":"generated_image_url","value":"https://source.unsplash.com/random/1080x1080/?{{ $json.product_name }}"}]},"options":{}},"id":"mock-ai-poster","name":"Gemini Image Gen (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[900,400],"notesInFlow":true,"notes":"Simulates Gemini Image Generation"},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"merge-outputs","name":"Merge Content","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1120,300]},{"parameters":{"values":{"string":[{"name":"status","value":"success"},{"name":"sheet_row_id","value":"row_123"},{"name":"Product","value":"={{ $json.product_name }}"},{"name":"Platform","value":"={{ $json.platform }}"},{"name":"Script","value":"={{ $json.generated_script }}"},{"name":"Image URL","value":"={{ $json.generated_image_url }}"}]},"options":{}},"id":"google-sheets","name":"Google Sheets (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[1340,300],"notesInFlow":true,"notes":"Simulates Saving to Sheets"},{"parameters":{"channel":"general","text":"=🎉 *AI Content Factory Output*\n*Product:* {{ $json.Product }}\n*Platform:* {{ $json.Platform }}\n*Script:* {{ $json.Script }}\n*Image:* {{ $json['Image URL'] }}","otherOptions":{}},"id":"slack-notify","name":"Slack Notification (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[1560,300],"notesInFlow":true,"notes":"Simulates Slack Message"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"Gemini Text Gen (Mock)","type":"main","index":0},{"node":"Gemini Image Gen (Mock)","type":"main","index":0}]]},"Gemini Text Gen (Mock)":{"main":[[{"node":"Merge Content","type":"main","index":0}]]},"Gemini Image Gen (Mock)":{"main":[[{"node":"Merge Content","type":"main","index":1}]]},"Merge Content":{"main":[[{"node":"Google Sheets (Mock)","type":"main","index":0}]]},"Google Sheets (Mock)":{"main":[[{"node":"Slack Notification (Mock)","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"e89d1c89-464b-4790-9671-8d12c38ea0e9","activeVersionId":"e89d1c89-464b-4790-9671-8d12c38ea0e9","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-28T17:20:07.211Z","createdAt":"2026-01-28T17:20:07.211Z","role":"workflow:owner","workflowId":"IYHixm2h47yjKn0Q","projectId":"xtUk0CoEiA6qaoje","project":{"updatedAt":"2026-01-28T17:33:50.994Z","createdAt":"2026-01-28T17:03:14.404Z","id":"xtUk0CoEiA6qaoje","name":"Amit Pokharel <amit2pokharel@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8d88c125-66fb-496c-9204-f5a43b484d44"}}]},{"updatedAt":"2026-01-28T20:39:34.493Z","createdAt":"2026-01-28T20:39:34.493Z","id":"sOTA_021DER3NJxktD7oA","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f5f5be49-d7d6-41ca-82a5-a0ba6c6b97f1","name":"When clicking ‘Execute workflow’"}],"connections":{},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"4a1e27ac-319b-4270-8272-fa8e85ba469e","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-28T20:39:34.524Z","createdAt":"2026-01-28T20:39:34.524Z","role":"workflow:owner","workflowId":"sOTA_021DER3NJxktD7oA","projectId":"xtUk0CoEiA6qaoje","project":{"updatedAt":"2026-01-28T17:33:50.994Z","createdAt":"2026-01-28T17:03:14.404Z","id":"xtUk0CoEiA6qaoje","name":"Amit Pokharel <amit2pokharel@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8d88c125-66fb-496c-9204-f5a43b484d44"}}]},{"updatedAt":"2026-01-28T21:53:30.448Z","createdAt":"2026-01-28T21:53:30.448Z","id":"Z6bhUOdroRx96CNc","name":"AI Content Factory (Mock Demo)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-content-factory","responseMode":"lastNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[460,300],"webhookId":"ai-content-factory"},{"parameters":{"values":{"string":[{"name":"product_name","value":"={{ $json.body.product_name || 'Sample Product' }}"},{"name":"platform","value":"={{ $json.body.platform || 'Instagram' }}"}]},"options":{}},"id":"parse-input","name":"Parse Input","type":"n8n-nodes-base.set","typeVersion":1,"position":[680,300]},{"parameters":{"values":{"string":[{"name":"video_script","value":"=🎬 VIDEO SCRIPT for {{ $json.product_name }} on {{ $json.platform }}\n\n[SCENE 1] Product reveal with dynamic background\n[NARRATION] \"Introducing {{ $json.product_name }} - The future is here!\"\n\n[SCENE 2] Feature showcase with user testimonials\n[NARRATION] \"Experience innovation like never before\"\n\n[CALL TO ACTION] \"Get yours today! Link in bio 👇\""}]},"options":{}},"id":"mock-video-script","name":"AI - Video Script (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[900,200],"notesInFlow":true,"notes":"Simulates Gemini/GPT for video script"},{"parameters":{"values":{"string":[{"name":"ad_caption","value":"=🔥 {{ $json.product_name }} is HERE! ✨\n\nPerfect for {{ $json.platform }} lovers! Don't miss out! 🚀\n\n#{{ $json.product_name.replace(' ', '') }} #{{ $json.platform }} #Innovation #MustHave"}]},"options":{}},"id":"mock-ad-caption","name":"AI - Ad Caption (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[900,350],"notesInFlow":true,"notes":"Simulates Gemini/GPT for ad caption"},{"parameters":{"values":{"string":[{"name":"poster_url","value":"=https://picsum.photos/1080/1080?random={{ $now.toUnixInteger() }}"},{"name":"poster_description","value":"=Professional {{ $json.platform }} poster for {{ $json.product_name }} - Modern design with vibrant colors"}]},"options":{}},"id":"mock-poster","name":"AI - Poster Generator (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[900,500],"notesInFlow":true,"notes":"Simulates Gemini Imagen/DALL-E"},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"merge-all","name":"Merge All Content","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1120,350]},{"parameters":{"values":{"string":[{"name":"timestamp","value":"={{ $now.toISO() }}"},{"name":"status","value":"✅ Content Generated Successfully"},{"name":"sheets_saved","value":"true"}]},"options":{}},"id":"mock-google-sheets","name":"Google Sheets Storage (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[1340,350],"notesInFlow":true,"notes":"Simulates saving to Google Sheets"},{"parameters":{"values":{"string":[{"name":"notification_sent","value":"true"},{"name":"message","value":"=📧 Email Notification Sent!\n\n✅ Product: {{ $json.product_name }}\n✅ Platform: {{ $json.platform }}\n✅ Video Script: Generated\n✅ Ad Caption: Generated\n✅ Poster: Generated\n✅ Saved to Google Sheets\n\nAll content ready for review!"}]},"options":{}},"id":"mock-notification","name":"Email/Slack Notification (Mock)","type":"n8n-nodes-base.set","typeVersion":1,"position":[1560,350],"notesInFlow":true,"notes":"Simulates Email/Slack notification"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"AI - Video Script (Mock)","type":"main","index":0},{"node":"AI - Ad Caption (Mock)","type":"main","index":0},{"node":"AI - Poster Generator (Mock)","type":"main","index":0}]]},"AI - Video Script (Mock)":{"main":[[{"node":"Merge All Content","type":"main","index":0}]]},"AI - Ad Caption (Mock)":{"main":[[{"node":"Merge All Content","type":"main","index":1}]]},"AI - Poster Generator (Mock)":{"main":[[{"node":"Merge All Content","type":"main","index":2}]]},"Merge All Content":{"main":[[{"node":"Google Sheets Storage (Mock)","type":"main","index":0}]]},"Google Sheets Storage (Mock)":{"main":[[{"node":"Email/Slack Notification (Mock)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"7f76e85a-5827-4185-8f58-72f569b36167","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-28T21:53:30.451Z","createdAt":"2026-01-28T21:53:30.451Z","role":"workflow:owner","workflowId":"Z6bhUOdroRx96CNc","projectId":"xtUk0CoEiA6qaoje","project":{"updatedAt":"2026-01-28T17:33:50.994Z","createdAt":"2026-01-28T17:03:14.404Z","id":"xtUk0CoEiA6qaoje","name":"Amit Pokharel <amit2pokharel@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8d88c125-66fb-496c-9204-f5a43b484d44"}}]}]