n8n_workflow_MOCK.json
{
    "name": "AI Content Factory (Mock Demo)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-content-factory",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "webhookId": "ai-content-factory"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "product_name",
                            "value": "={{ $json.body?.product_name || $json.product_name || 'Sample Product' }}"
                        },
                        {
                            "name": "platform",
                            "value": "={{ $json.body?.platform || $json.platform || 'Instagram' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "parse-input",
            "name": "Parse Input",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "video_script",
                            "value": "= VIDEO SCRIPT for {{ $json.product_name }} on {{ $json.platform }}\n\n[SCENE 1] Product reveal with dynamic background\n[NARRATION] \"Introducing {{ $json.product_name }} - The future is here!\"\n\n[SCENE 2] Feature showcase with user testimonials\n[NARRATION] \"Experience innovation like never before\"\n\n[CALL TO ACTION] \"Get yours today! Link in bio 👇\""
                        }
                    ]
                },
                "options": {}
            },
            "id": "mock-video-script",
            "name": "AI - Video Script (Mock)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                900,
                200
            ],
            "notesInFlow": true,
            "notes": "Simulates Gemini/GPT for video script"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "poster_url",
                            "value": "=https://picsum.photos/1080/1080?random={{ $now.toUnixInteger() }}"
                        },
                        {
                            "name": "poster_description",
                            "value": "=Professional {{ $json.platform }} poster for {{ $json.product_name }} - Generated by Gemini Model (Mock)"
                        }
                    ]
                },
                "options": {}
            },
            "id": "mock-poster",
            "name": "AI - Gemini Poster (Mock)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                900,
                400
            ],
            "notesInFlow": true,
            "notes": "Simulates Google Gemini/Imagen"
        },
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "id": "merge-all",
            "name": "Merge All Content",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "sheets_status",
                            "value": "=✅ MOCK: Would append to Google Sheets\nDocument: 1de98SRPrJ3QBZeeD1SzIprsQIT36oFdGpd32CoX5wwA\nSheet: Sheet1\nProduct: {{ $json.product_name }}\nPlatform: {{ $json.platform }}\nScript: {{ $json.video_script.substring(0, 50) }}...\nPoster: {{ $json.poster_url }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "mock-google-sheets",
            "name": "Google Sheets (Mock)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ],
            "notesInFlow": true,
            "notes": "Simulates Google Sheets append - no credentials required"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "email_status",
                            "value": "=✅ MOCK: Email would be sent\nFrom: singhanzali98@gmail.com\nTo: anujpokharel2engineer@gmail.com\nSubject: New AI Content Generated: {{ $json.product_name }}\n\nBody:\n{{ $json.video_script }}\n\nPoster: {{ $json.poster_url }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "mock-email",
            "name": "Send Email (Mock)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                1560,
                300
            ],
            "notesInFlow": true,
            "notes": "Simulates email sending - no SMTP credentials required"
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Input": {
            "main": [
                [
                    {
                        "node": "AI - Video Script (Mock)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "AI - Gemini Poster (Mock)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI - Video Script (Mock)": {
            "main": [
                [
                    {
                        "node": "Merge All Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI - Gemini Poster (Mock)": {
            "main": [
                [
                    {
                        "node": "Merge All Content",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge All Content": {
            "main": [
                [
                    {
                        "node": "Google Sheets (Mock)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets (Mock)": {
            "main": [
                [
                    {
                        "node": "Send Email (Mock)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}