n8n_workflow_MOCK.json
{
    "name": "AI Content Factory (Mock Demo)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-content-factory",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "webhookId": "ai-content-factory"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "product_name",
                            "value": "={{ $json.body?.product_name || $json.product_name || 'Sample Product' }}"
                        },
                        {
                            "name": "platform",
                            "value": "={{ $json.body?.platform || $json.platform || 'Instagram' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "parse-input",
            "name": "Parse Input",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "video_script",
                            "value": "= VIDEO SCRIPT for {{ $json.product_name }} on {{ $json.platform }}\n\n[SCENE 1] Product reveal with dynamic background\n[NARRATION] \"Introducing {{ $json.product_name }} - The future is here!\"\n\n[SCENE 2] Feature showcase with user testimonials\n[NARRATION] \"Experience innovation like never before\"\n\n[CALL TO ACTION] \"Get yours today! Link in bio 👇\""
                        }
                    ]
                },
                "options": {}
            },
            "id": "mock-video-script",
            "name": "AI - Video Script (Mock)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                900,
                200
            ],
            "notesInFlow": true,
            "notes": "Simulates Gemini/GPT for video script"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "poster_url",
                            "value": "=https://picsum.photos/1080/1080?random={{ $now.toUnixInteger() }}"
                        },
                        {
                            "name": "poster_description",
                            "value": "=Professional {{ $json.platform }} poster for {{ $json.product_name }} - Generated by Gemini Model (Mock)"
                        }
                    ]
                },
                "options": {}
            },
            "id": "mock-poster",
            "name": "AI - Gemini Poster (Mock)",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                900,
                400
            ],
            "notesInFlow": true,
            "notes": "Simulates Google Gemini/Imagen"
        },
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "id": "merge-all",
            "name": "Merge All Content",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": {
                    "__rl": true,
                    "value": "YOUR_SHEET_ID_HERE",
                    "mode": "list",
                    "cachedResultName": "AI Content Sheet"
                },
                "range": "A:E",
                "options": {}
            },
            "id": "real-google-sheets",
            "name": "Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1340,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_CREDENTIALS_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "fromEmail": "anujpokharel2@gmail.com",
                "toEmail": "anujpokharel2engineer@gmail.com",
                "subject": "New AI Content Generated: {{ $json.product_name }}",
                "text": "=Here is your generated content:\n\nVideo Script:\n{{ $json.video_script }}\n\nPoster URL:\n{{ $json.poster_url }}",
                "options": {}
            },
            "id": "real-email",
            "name": "Send Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                1560,
                300
            ],
            "credentials": {
                "smtp": {
                    "id": "YOUR_SMTP_CREDENTIALS_ID",
                    "name": "SMTP Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Input": {
            "main": [
                [
                    {
                        "node": "AI - Video Script (Mock)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "AI - Gemini Poster (Mock)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI - Video Script (Mock)": {
            "main": [
                [
                    {
                        "node": "Merge All Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI - Gemini Poster (Mock)": {
            "main": [
                [
                    {
                        "node": "Merge All Content",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge All Content": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}